<section>
  <h3>Добавить задачу</h3>

  <div class="row">
    <div class="col s12">
      <div class="row">
        <form [formGroup]="addForm"   *ngIf="addForm" novalidate (ngSubmit)="submit()">
          
            <div class="input-field col s12">
            <input type="text" id="name-input" class="" formControlName="name" >
            <label for="name-input">Название</label>
          </div>

          <div class="input-field col s12">
            <input type="text" id="task-input" class="" formControlName="task">
            <label for="task-input">Задание</label>
          </div>
          <button class="waves-effect waves-light btn" [disabled]="addForm.invalid">Отправить</button>
        </form>
      </div>
    </div>
  </div>
</section>
